$primary-color: #3d37f1;
$primary-gradient-color: linear-gradient(to bottom, #a5a2f6 0%, #3d37f1 100%);
$secondary-color: #ff8923;
$dark-blue-color: #4b647e;
$dark-color: #534d4d;
$light-color: #fcfcfc;
$light-bg-color: #FBFCFD;
$xs: 0px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;