@font-face {
  font-family: "Lato-Black";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Lato-Black.ttf");
}
@font-face {
  font-family: "Lato-Bold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: "Lato-Light";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Lato-Light.ttf");
}
@font-face {
  font-family: "Lato-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Light";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto-Medium";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Thin";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Thin.ttf");
}